@import "~sass/core";

.word-card {
  $root: &;

  padding: 2rem;
  border-radius: $radius-rounded;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    &-text {
      @include sr-only();
    }
  }

  &__header {
    flex-basis: 100%;
    flex-grow: 0;
  }

  &__heading {
    text-transform: capitalize;
    line-height: 1.2;
  }

  &__body {
    flex-basis: 100%;
    padding-top: 2rem;
  }

  &__syllables {
    font-style: italic;
  }

  &__syllable {
    display: inline-block;
    margin: 0 .8rem;
    position: relative;
    font-style: italic;
    font-weight: bold;

    &:after {
      content: '~';
      position: absolute;
      right: -1.2rem;
    }

    &:last-child {
      &:after {
        display: none;
        margin-right: 0;
      }
    }
  }

  &__categories,
  &__tags {
    width: 100%;
    margin: 1rem 0;
    display: block;
  }
}
