@import "~sass/core";

.primary-header {
  $root: &;

  position: relative;
  height: auto;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  background-color: $color-tint-alpha;
  padding: .6rem 0;
  transition: $transition-all-base;

  &--alt {
    background-color: $color-alpha;
    background: $color-gradient-brand;
  }

  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100%;
    min-width: 0;
    align-content: center;
    align-items: normal;
    padding: 0;
  }

  &__brand {
    max-width: 300px;
    width: auto !important;
    flex: 0;
    text-align: left;
    height: 48px !important;

    @include tablet-landscape {
      max-width: 350px;
    }
  }

  &__title {
    align-content: center;
    align-items: center;
    display: inline-flex;
    margin-left: 2rem;
    line-height: 1;
    justify-content: center;

    &-text {
      align-self: center;
      align-items: normal;
      line-height: 1;
      text-transform: uppercase;
      font-size: 2.6rem !important;
      margin-bottom: 0 !important;
      letter-spacing: 1px;
      color: $color-tint-alpha;

      & > span {
        display: inline-block;
        align-self: normal;
        font-size: 1.8rem;
        text-transform: none;
        color: $color-tint-beta;
      }
    }
  }

  &__search {
    align-self: center;
    display: none;
    position: relative;
    max-height: 40px;
    overflow: hidden;

    @include tablet-landscape {
      display: inline-flex;
      width: 300px;
      margin-left: auto;
    }

    &-btn {
      position: absolute;
      top: 50%;
      transform: $centerY;
      background-color: transparent !important;
      color: $color-alpha !important;
      right: 0;
      width: 4rem !important;
      height: 4rem !important;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }

    &-form {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
    }

    &-icon {
      margin-left: 0 !important;
    }

    &-input {
      height: 3.5rem !important;
      padding-right: 5.5rem !important;
      border-radius: 25px !important;
      border: none !important;
    }
  }

  &__hamburger {
    //position: absolute !important;
    //top: 50%;
    //left: 0;
    //transform: $centerY;
    display: flex;
    align-self: center;
    margin-right: 2rem;
  }
}
