@import "~sass/core";

.primary-header {
  $root: &;

  height: auto;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  background-color: $color-tint-alpha;
  padding: 1rem 0;
  transition: $transition-all-base;
  background-color: lightgrey;

  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100%;
    min-width: 0;
    align-content: center;
  }

  &__brand {
    max-width: 300px;
    height: auto;
    flex: 0;
    text-align: left;

    @include tablet-landscape {
    }
  }

  &__menu {
    display: none;

    @include tablet-landscape {
      display: flex;
      flex: 0;
      margin-left: auto;
    }
  }

  &__hamburger {
    display: flex;

    @include tablet-landscape {
      display: none;
    }
  }
}
