@import "~sass/core";

.primary-header {
  $root: &;

  height: auto;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  background-color: $color-tint-alpha;
  padding: 1rem 0;
  transition: $transition-all-base;

  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100%;
    min-width: 0;
    align-content: center;
    align-items: normal;
    padding: 0 1rem;
  }

  &__brand {
    max-width: 300px;
    width: auto !important;
    flex: 0;
    text-align: left;

    @include tablet-landscape {
      max-width: 350px;
    }
  }

  &__title {
    align-content: center;
    align-items: center;
    display: inline-flex;
    margin-left: 1rem;

    &-text {
      align-self: center;
      line-height: 1;
      text-transform: uppercase;
      font-size: 3rem !important;
      margin-bottom: 0 !important;
      letter-spacing: 1px;

      & > span {
        font-size: 2rem;
        text-transform: none;
        color: $color-tint-psi;
      }
    }
  }

  &__search {
    display: none;

    @include tablet-landscape {
      display: flex;
      margin-left: auto;
    }
  }

  &__hamburger {
    display: flex;

    @include tablet-landscape {
      display: none;
    }
  }
}
