@import "~sass/core";

.terms-menu {
  $root: &;

  display: flex;
  align-items: center;
  width: auto;

  &__list {
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    font-size: inherit;
  }

  &__item {
    display: inline-block;
    margin-bottom: 0;
    padding: 0 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: inherit;
    color: $color-tint-psi;

    & > a {
      padding-top: 0;
      padding-bottom: 0;

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;
      }
    }

    &:first-of-type {
      margin-left: 0;
      padding-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
      padding-right: 0;
    }
  }
}
