@import "~sass/core";

.archive {
  padding: 0;
  margin: 0;

  &__word-category {
    visibility: visible;
  }

  &__word-tag {
    visibility: visible;
  }

  &__category {
    visibility: visible;
  }

  &__post-tag {
    visibility: visible;
  }
}
