@import "~sass/core";
@import "~flexigridcss/assets/flexigridcss/modifiers/margin";

%column-core {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  flex: 1 0 100%;
}

[class|='col'],
[class*='col-'] {
  @extend %column-core;
}

.flex {
  &--auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  @include dynamic-flex-columns();

  @include mobile-only {
    &-xs {
      box-sizing: border-box;
      min-width: 0;
      min-height: 0;
      max-width: 100%;
      flex: 1 0 100%;
    }

    @include dynamic-flex-columns('xs');
  }

  @include tablet-portrait {
    &-sm {
      box-sizing: border-box;
      min-width: 0;
      min-height: 0;
      max-width: 100%;
      flex: 1 0 100%;
    }

    @include dynamic-flex-columns('sm');
  }

  @include tablet-portrait {
    &-md {
      box-sizing: border-box;
      min-width: 0;
      min-height: 0;
      max-width: 100%;
      flex: 1 0 100%;
    }

    @include dynamic-flex-columns('md');
  }

  @include desktop {
    &-lg {
      box-sizing: border-box;
      min-width: 0;
      min-height: 0;
      max-width: 100%;
      flex: 1 0 100%;
    }

    @include dynamic-flex-columns('lg');
  }

  @include big-desktop {
    &-xl {
      box-sizing: border-box;
      min-width: 0;
      min-height: 0;
      max-width: 100%;
      flex: 1 0 100%;
    }

    @include dynamic-flex-columns('xl');
  }
}
