@import "~sass/core";

.form-base {
  $root: &;
  padding: 0;

  &__legend {
    font-weight: bold;
  }

  &__description {
    margin-bottom: 2rem !important;
  }

  &__group {
    width: 100%;
  }

  &__row {
    font-size: inherit;
  }

  &__form-field {
    font-size: inherit;
  }

  &__input-field {
    font-size: inherit;
  }

  &__file-upload {
    font-size: inherit;
  }

  &__select-field {
    font-size: inherit;
  }

  &__buttons {
    font-size: inherit;
  }

  &__button {
    font-size: inherit;
  }
}
