@import "~sass/core";

.primary-menu {
  $root: &;

  display: flex;
  align-items: center;
  width: auto;

  &__list {
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
  }

  &__item {
    display: inline-block;
    margin-bottom: 0;
  }
}
