@import "~sass/core";

.menu-item {
  $root: &;

  position: relative;
  display: inline-flex;

  &__link {
    padding: 1rem 1.5rem;
    color: inherit;
    font-size: inherit;
    display: block;
  }
}
