@import "~sass/core";

.hamburger {
  $root: &;
  width: 4rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
  appearance: none;
  border: none;
  transition: all .4s;
  background-color: transparent;

  &--alt {
    #{$root} {
      &__line {
        background-color: $color-tint-alpha !important;
      }
    }
  }

  &--active {
    #{$root} {
      &__line {
        width: 100%;
        transition: transform .4s;

        &:nth-of-type(1) {
          top: 50%;
          transform: $centerY rotate(45deg);
        }

        &:nth-of-type(2) {
          top: 50%;
          transform: $centerY;
          opacity: 0;
        }

        &:nth-of-type(3) {
          top: 50%;
          transform: $centerY rotate(-45deg);
        }
      }
    }
  }

  &__line {
    width: 100%;
    height: .3rem;
    display: block;
    position: absolute;
    left: 0;
    transition: transform 0s, width .2s;

    &-theme {
      @include theme;
    }

    &:nth-of-type(1) {
      width: 90%;
      top: 0;
    }

    &:nth-of-type(2) {
      width: 65%;
      top: 50%;
      transform: $centerY;
    }

    &:nth-of-type(3) {
      width: 40%;
      top: auto;
      bottom: 0;
    }
  }

  &__descriptor {
    @include sr-only;
  }

  @include hover-focus {
    #{$root} {
      &__line {
        width: 100%;
      }
    }
  }
}
