@import "~sass/core";

.hero-search {
  $root: &;

  position: relative;
  width: 100%;
  min-height: 500px;
  height: 90vh;
  padding: 0;

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    //align-items: center;
    justify-content: center;
    align-content: space-around;
  }

  &__brand {
    padding: 0 0 5rem;
    width: 100%;
    min-width: 300px;
    height: 110px;

    @include tablet-landscape {
      width: 100%;
      max-width: 500px;
    }
  }

  &__subheading {
    font-weight: bold;
  }

  &__form {
    position: relative;
    margin-bottom: 10rem !important;

    @include tablet-landscape {
      margin-bottom: 5rem !important;
    }

    &-input {
      height: 5rem;
      padding-right: 10.8rem;
    }

    &-submit {
      position: absolute;
      top: 50%;
      transform: $centerY;
      right: .7rem;
      max-height: 3.8rem;
      padding: 1rem 1.5rem;
      background: $color-gradient-alpha;
    }

    &-icon {
      margin-left: 0 !important;
    }
  }

  &__label-cloud {
    max-width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__scrolling-mouse {
    position: absolute;
    top: auto;
    bottom: 2rem;
    left: 50%;
    transform: $centerX;
  }
}
