@import "~sass/core";

.primary-footer {
  width: 100%;
  padding: 3rem 0;
  transition: $transition-all-base;

  &__legal {
    border-top: 1px solid $color-tint-gamma;
    padding-top: 2rem;
    text-align: center;
    font-weight: normal;
    font-size: 1.4rem;
  }
}
