@import "~sass/core";

.primary-footer {
  $root: &;
  width: 100%;
  background-color: $color-tint-alpha;
  transition: $transition-all-base;

  &--top {
    padding: 4rem 0;
  }

  &--bottom {
    padding: 2rem 0;
  }

  &__legal {
    padding-top: 2rem;
    text-align: center;
    font-weight: normal;
    font-size: 1.4rem;
  }
}
